.site_logo {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url('https://static8.depositphotos.com/1001439/1020/i/950/depositphotos_10200572-stock-illustration-popcorn-and-3d-glasses-cinema.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 10px;
}
